form {
  padding-top:15px;
  padding-left:150px;
}

form label {
  color: black;
  display: block;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
}

form button {
  display: block;
  margin-top: 20px;
  font-size: 25px;
  padding: 5px 50px;
  font-weight: bold;
}