.nav {
  height: 80px;
  background-color: #5894f3;
  display: flex;
  align-items: center;
  padding-left:50px;
  position:sticky;
  width: 100%;
  color: black;
  padding-top:15px;
  padding-bottom:15px;
}

.nav img {
  width: 300px;
  height:57px;
}

.nav-menu {
  justify-content: center;
  flex: 50%;
  display: flex;
}

.nav-menu a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

.nav-menu a:hover {
    color: white;
  }