.nav {
  height: 170px;
  background-color: #5894f3;
  display: flex;
  align-items: center;
  padding-left:30px;
}

.nav img {
  width: 450px;
  height:85px;
}

.nav-menu {
  justify-content: center;
  flex: 50%;
  display: flex;
  padding-left: 50px;
}

.nav-menu a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 20px;
  font-size: 33px;
}

.nav-menu a:hover {
    color: white;
  }